asgiref==3.4.1
beautifulsoup4==4.9.3
certifi==2024.7.4   
# cffi==1.14.6
chardet==4.0.0       
cryptography==43.0.1  
Django==4.2.16        
favicon==0.7.0       
html5lib==1.1        
idna==3.7
mechanize==0.4.6     
# Pillow==8.3.1        
pycparser==2.20      
pytz==2021.1
requests==2.32.2     
six==1.16.0
soupsieve==2.2.1     
sqlparse==0.5.0      
urllib3==1.26.19      
webencodings==0.5.1